<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <h1>1+2</h1>
    <h1><%="saugatnepal".toUpperCase()%></h1>
    <h1><%=["hello","bonjour","namaste"][0]%></h1>
    <h1>This is a homepage</h1>
    <button>Click Me</button>
  </body>
</html>
